# nRF52840 Dongle NRF52840 board configuration
#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_NRF52840DONGLE_NRF52840

config BOARD
	default "nrf52840dongle_nrf52840"

config BT_CTLR
	default BT

if USB_DEVICE_STACK

# Enable UART driver, needed for CDC ACM
config SERIAL
  default y

endif # USB_DEVICE_STACK

endif # BOARD_NRF52840DONGLE_NRF52840
